@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

#app{
    height: 100vh;
}

* {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

body {
    background-color: #ebeff5;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

/* NAVBAR */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* coloca a lista em horizontal */
ul li {
    float: left;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 17px;
    background-color: #0d6efd;
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

ul li a:hover{
    background-color: #4ea4ff;
}

/* dropdown */

/*não mostra a sublista, ou seja, tira o display */
 ul li ul li { 
    display: none; 
}

/*só vai mostrar a sublista quando o passar o mouse em cima da lista, ou seja, quando fizer o "hover" */
 ul li:hover ul li { 
    display: block;
}

/* Geral */
label {
    width: 105px;
}
input[type=number]{
    width: 100px;
}
input[type=text]{
    width: 300px;
} 

textarea {
    width: 300px;
}

/* index */
#main-index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 320px;
    background-color: white;
    flex-direction: column;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0px 3px 8px;
}

#index > a {
    text-decoration: none;
    outline: none;
    width: 60%;
    
}

#button-index {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

/* DASHBOARD */
/* .main {
    display: flex;
}

.main .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
} */

/* CLIENTE */
#main-client{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#client {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    flex-direction: column;
    border-radius: 20px;
    font-size: 20px;
    background-color: white;
    box-shadow: 0px 3px 8px;
}

#client > a {
    width: 80%;
    margin: 5px;
}

/* FORM */
#main-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
}
#form {
    display: flex;
    justify-content: center;
    width: 65%;
    height: 100%;
    flex-direction: column;
    border-radius: 20px;
    font-size: 20px;
    background-color: white;
    padding: 14px;
    box-shadow: 0px 3px 8px;
    
}

#form > h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

}

#confirmar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#confirmar > input {
    margin: 3px;
}
#confirmar > a {
    margin: 3px;
}

#button-estimar {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FILE */
#main-file{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    flex-direction: column;
}

#file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 230px;
    flex-direction: column;
    border-radius: 20px;
    font-size: 20px;
    background-color: white;
    box-shadow: 0px 3px 8px;
}

#file > h3 {
    padding-bottom: 6px;
}

#file > div {
    margin: 0;
    padding: 0;
}

 .spinner-border{ /*precisa acertar */
    display: flex;
    justify-content: center;
    align-items: center;
}