@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

#app{
    height: 100vh;
}

* {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

body {
    background-color: #ebeff5;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

/* NAVBAR */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* coloca a lista em horizontal */
ul li {
    float: left;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 17px;
    background-color: #0d6efd;
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

ul li a:hover{
    background-color: #4ea4ff;
}

/* dropdown */

/*não mostra a sublista, ou seja, tira o display */
 ul li ul li { 
    display: none; 
}

/*só vai mostrar a sublista quando o passar o mouse em cima da lista, ou seja, quando fizer o "hover" */
 ul li:hover ul li { 
    display: block;
}

/* Geral */
label {
    width: 105px;
}
input[type=number]{
    width: 100px;
}
input[type=text]{
    width: 300px;
} 

textarea {
    width: 300px;
}

/* index */
#main-index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
#index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 320px;
    background-color: white;
    flex-direction: column;
    border-radius: 20px;
    font-size: 20px;
}

#index > a {
    text-decoration: none;
    outline: none;
    width: 60%;
    
}

#button-index {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

/* DASHBOARD */
/* .main {
    display: flex;
}

.main .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
} */
