<!DOCTYPE html>
<html lang="pt-br">
    {% include 'head.html' %}

<body>
    {% include 'navbar.html' %}
    <div id="main-client">
        <div id="client">
            <h3>Escolha uma opção</h3>
            <a href="/client/form" class="btn btn-info">[Inserir/Estimar] Novo Cliente</a>
            <a href="/client/table" class="btn btn-info">[Visualizar/Editar] Clientes </a>            
            <a href="/client/file" class ="btn btn-info">Ler Arquivos</a>
        </div>
    </div>
</body>
</html>