<!DOCTYPE html>
<html lang="pt-br">
{% include 'head.html' %}

<body>
    {% include 'navbar.html' %}

    <div id="main-file">
        <form enctype="multipart/form-data" action="" method="post" id="file">
            {% csrf_token %}
            <h3>{{ form.file.label }}</h3>
            <p>{{ form.file }}</p>
            <div>
                <input type="submit" class="btn btn-primary mt-3" value="Carregar">
                <button class="btn btn-danger mt-3" onclick="confirmar2('/client')" >Cancelar</button>
            </div>
            <p>{{ form.errors }}</p>
        </form>
    </div>
    {% include 'footer.html' %}
</body>

</html>