{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    {% include 'head.html' %}
<body>
    {% include 'navbar.html' %}
    <div id="main-index">
        <div id="index">
            <div id="index_child">
                <table>
                    <caption><strong>Acurácia</strong> </caption>
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th colspan="2">Classificadores</th>
                        </tr>
                        <tr>
                            <th>Conjunto de dados</th>
                            <th>Redes Neurais</th>
                            <th>Regressão Logística</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Padrão</td>
                            <td>{{ result0 }}</td>
                            <td>{{ result2 }}</td>
                        </tr>
                        <tr>
                            <td>Ampliado</td>
                            <td>{{ result1 }}</td>
                            <td>{{ result3 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {%if result0 == "0.00%" %}
            <a href="/initialize"><button class="btn btn-primary" id="button-index">Iniciar</button></a>
            {%else%}
            <a href="/initialize"><button class="btn btn-primary" id="button-index">Atualizar</button></a>
            {%endif%}
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>